
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>


</head>
{%include 'header.html'%}
<body>


            
                
              
            
          
<input type="text" class="form-control mb-5 p-3" placeholder="Search Here" name="" id="searchInput">
            
              
              {% for i in pro %}
              
                
              
                    
              
                <li class="list-group-item p-3">
                <a href="{% url 'det' i.id %}"><p>{{ i.title }}</p></a>
              </li>
          
                
              
              {% endfor %}
            
    
          
          
          
          
        </div>
      </div>
    </div>
  </div>
</div>



  

</body>
<script>
  document.querySelector('#searchInput').addEventListener('input', filterList)

  function filterList(){
    const searchInput=document.querySelector('#searchInput');
    const filter=searchInput.value.toLowerCase();
    const listItems=document.querySelectorAll('.list-group-item');
    listItems.forEach((item)=>{
      let text=item.textContent;
      if(text.toLowerCase().includes(filter.toLowerCase())){
        item.style.display='';

      }
      else{
        item.style.display='none';
      }
    });
  }
</script>
{%include 'footer.html'%}
<style>
    table{
        border-collapse: collapse;
        border-right: none;
        border-left: none;
    }
    th{
        border-bottom: 1px solid black;
        border-right: none;
        border-left: none;

    }
    td{
        border-right: none;
        border-right: none;
        border-left: none;
    }
    tr{
        border-bottom: 1px solid black;
    }
</style>
</html>